<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="erp42_racing_front_wheel">
    <xacro:macro name="erp42_racing_front_wheel" params="link_name">
        
        <link name="${link_name}">

            <!-- Inertia -->
            <inertial>
                <mass value="6.0" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.135" ixy="0.0" ixz="0.0" iyy="0.235" iyz="0.0" izz="0.135" />
            </inertial>

            <!-- Collision -->
            <collision>
                <origin xyz="0 0 0" rpy="${-PI/2} 0 0" />
                <geometry>
                    <cylinder length="${front_wheel_length}" radius="${front_wheel_radius}" />
                </geometry>
            </collision>

            <!-- Mesh files -->
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find erp42_racing_description)/meshes/erp42_racing_front_tire.dae" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>

            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find erp42_racing_description)/meshes/erp42_racing_front_rim.dae"  scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
        
        </link>

    </xacro:macro>
</robot>